.food-display-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 85vw;
    height: 100vh;
    margin: 0 auto;
    overflow-y: hidden;
    overflow-y: scroll;
    background-color: #26262613;
    border-radius: 18px;
    /* box-shadow: -10px -20px -50px rgba(0, 0, 0, 0.389); */
}
.food-display-list::-webkit-scrollbar{
    display: none;
}
.food-display{
    width: 85vw;
    margin: 0 auto;
}
.food-display>h2{
    color: #262626;
    font-weight: 500;
    margin-bottom: 20px;
}